:root {
    --container-padding: 11.5rem;

    /* fonts */

    --font-family: "Montserrat";
    --second-family: "Karla";
    --third-family: "Istok Web";
    --font3: "Kenia";
    --font4: "Inter";
    --font5: "Libre Barcode 128 Text";

}
