.music-player {
    background: url(../../images/music-player/Desktop.png) center /cover no-repeat;
    height: 102.4rem;
    overflow: hidden;

}

.music-player .container {
    position: relative;
}

.music-player__title {
    max-width: 41.2rem;
    width: 100%;
    margin-bottom: 17.5rem;

    font-family: var(--font3);
    font-size: 15rem;
    color: #fff;
    text-transform: uppercase;


}

.music-player__description {
    max-width: 32rem;
    width: 100%;

    font-family: var(--third-family);
    font-size: 2rem;
    color: #fff;

}

.music-player__image-headset {
    position: absolute;
    bottom: -6rem;
    left: 27rem;
    overflow-: hidden;
    object-fit: cover;
    width: 100%;

}

.music-player__image-iphone {
    position: absolute;
    bottom: -25rem;
    left: 88rem;
    overflow: hidden;
    object-fit: cover;



}


