.music-player {
    background: url(../../images/music-player/Desktop.png) center /cover no-repeat;
    height: 102.4rem;
    overflow: hidden;

}

.header__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90.5rem;

    /*grid-template-columns: 1fr 31rem 1fr;*/
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.music-player__title {
    padding-top: 16.4rem;
    max-width: 41.2rem;
    width: 100%;
    line-height: 110%;



    font-family: var(--font3);
    font-size: 15rem;
    color: #fff;
    text-transform: uppercase;


}

.music-player__description {
    max-width: 32rem;
    width: 100%;

    font-family: var(--third-family);
    font-size: 2rem;
    color: #fff;
    margin-bottom: 23rem;

}

.music-player__image-headset {

    background: url("../../images/music-player/headset_01.png") center / contain no-repeat;
    background-position: bottom center;


    max-width: 31rem;
    width: 100%;
    object-fit: cover;




}

.music-player__image-iphone {
    background: url("../../images/music-player/iPhone_03.png") center / contain no-repeat, #000;
    background-position: bottom center;

    max-width: 51rem;
    width: 100%;
    object-fit: cover;



}


